body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
.title{
    font-size: 28px;
    font-weight: bold;
    background-color: aqua;
    color: white;
}
.bold{
    font-weight: bold;
}
.desc{
    font-size: 20px;
    
}
